<!DOCTYPE html>
<html>
	<body>
		
		<div>
			<a href="https://localhost:7111/Admin/Admin/ManageCourseCategory" class="btn btn-primary">
				Back
			</a>
		</div>

		<br />

		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Insert Course Category Details</h5>
				<form class="row g-3" method="post" asp-area="Admin" asp-controller="Admin" asp-action="AddNewCourseCategory1">

					<div class="col-md-6">
						<label for="inputName1" class="form-label">CourseCategory:</label>
						<input type="text" id="courseCategory" name="courseCategory" class="form-control" required />
					</div>

					<div>
						<input type="submit" value="Submit" class="btn btn-primary" />
					</div>

				</form>
			</div>
		</div>

	</body>
</html>