<!DOCTYPE html>
<html>
	<body>

		<div>
			<a href="https://localhost:7111/Admin/Admin/ManageCourse" class="btn btn-primary">
				Back
			</a>
		</div>

		<br />

		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Insert Course Details</h5>
				<form class="row g-3" method="post" asp-area="" asp-controller="" asp-action="">

					<div class="col-md-6">
						<label for="inputName5" class="form-label">CourseCategoryID:</label>
						<input type="text" value="1" id="courseCategoryID" name="courseCategoryID" class="form-control" required />
					</div>

					<div class="col-md-6">
						<label for="inputName5" class="form-label">CourseName:</label>
						<input type="text" value="course1" id="courseName" name="courseName" class="form-control" required />
					</div>

					<div>
						<input type="submit" value="Submit" class="btn btn-primary" />
					</div>

				</form>
			</div>
		</div>

	</body>
</html>